<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kpractice.example.com.gbooks">

    <!-- <uses-permission android:name="pk.wei.com.library.access.BOOK_SERVICE" /> -->
    <!-- <permission android:name="pk.wei.com.library.access.BOOK_SERVICE" /> -->
    <application
        android:name="kpractice.example.com.gbooks.DataMangement.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="kpractice.example.com.gbooks.MainActivity" />
        <activity android:name="kpractice.example.com.gbooks.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kpractice.example.com.gbooks.AboutActivity"></activity>
    </application>

</manifest>